@model Student
@{
    ViewData["Title"] = "Details Student";
}


<h1>Student Details</h1>

<br />
<br />

<div>
	<partial name="_StudentDeleteAndDetailsPartial"></partial>
	<div class="form-group mt-3">
		<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
		<a asp-action="Index" class="btn btn-light">Back To List</a>
	</div>

</div>