@model Student
@{
	ViewData["Title"] = "Edit Student";
}


<h1>Edit Student</h1>

<br />
<br />

<form asp-action="Edit">

	<partial name="PartialViews/_StudentCreateAndEditPartial"></partial>

	<div class="form-group mt-3">
		<input type="submit" value="Save" class="btn btn-primary" /> |
		<a asp-action="Index" class="btn btn-light">Cancle</a>
	</div>

</form>

@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial"></partial>
}