@model CourseViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="form-group">
	<label class="col-form-label" asp-for="Name"></label>
	<input asp-for="Name" class="form-control" readonly />


</div>


<div class="form-group">
	<label class="col-form-label" asp-for="Duration"></label>
	<input asp-for="Duration" class="form-control" readonly />


</div>


<div class="form-group">
	<label class="col-form-label" asp-for="Description"></label>
	<input asp-for="Description" class="form-control" readonly />


</div>

<div class="form-group">

	<label class="col-form-label" asp-for="TopicId"></label>
	<input asp-for="TopicId" class="form-control" readonly />


</div>