@model Department
@{
	ViewData["Title"] = "Delete Department";
}


<h1>Are You Sure To Delete This Department?</h1>

<br />
<br />

<form asp-action="Delete">
	<partial name="_DepartmentDeleteAndDetailsPartial"></partial>
	<div class="form-group mt-3">
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index" class="btn btn-light">Cancle</a>
	</div>

</form>