@model InstructorViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
	<label class="col-form-label" asp-for="Name"></label>
	<input asp-for="Name" class="form-control" readonly/>
</div>

<div class="form-group">
	<label class="col-form-label" asp-for="Bouns"></label>
	<input asp-for="Bouns" class="form-control" readonly />
</div>

<div class="form-group">
	<label class="col-form-label" asp-for="Address"></label>
	<input asp-for="Address" class="form-control" readonly />

</div>
<div class="form-group">
	<label class="col-form-label" asp-for="Salary"></label>
	<input asp-for="Salary" class="form-control" readonly />

</div>

<div class="form-group">
	<label class="col-form-label" asp-for="HourRate"></label>
	<input asp-for="HourRate" class="form-control" readonly />

</div>




<div class="form-group">

	<label class="col-form-label" asp-for="DepartmentId"></label>
	<input asp-for="DepartmentId" class="form-control" readonly />


</div>